@media screen and (max-width: 767px) {

    .wrapper {
        width: 300px;
    }
   .left {
       width: 100px;
   }
   .right {
       width: 200px;
   }
   .r1 {
    width: 75px;
   }
   .r2 {
       width: 125px;
   }
   
   .r3 {
       width: 125px;
   }
   .r4 {
       width: 200px;
   }
}

@media screen and (max-width: 479px) {

    .wrapper {
        width: 150px;
    }
    .left {
        width: 150px;
        height: 100px;
    }
    .right {
        width: 150px;
    }
    .r1 {
        width: 150px;
        height: 100px;
    }
    .r2 {
        width: 150px;
    }
    .r3 {
        width: 150px;
    }
    .r4 {
        width: 150px;
    }

}